/*
	most of the css that makes it look good is in the jquery.autocomplete.css that comes with the autocomplete plugin.
	that formats the dropdown of search results.

	one class is used on the html interface itself and that's the X that allows you to remove an item.
	here is the styling I use.  add this to your main css file and season to taste.
*/
.iconic {
	background: #fff;
	color: #000;
	border: 1px solid #ddd;
	padding: 2px 4px;
	font-weight: bold;
	font-family: Courier;
	text-decoration: none;
}
.iconic:hover {
	text-decoration: none;
	color: #fff;
	background: #000
}

